/* 
    colors: #1e1e1e
            #ffffff
            #bdbbbb
            #a3fff3
*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main_heading {
  font-size: 80px;
}

.main_span,
.main_p {
  font-size: 32px;
}

.txt_weight {
  font-weight: 300;
}

.site_heading {
  font-size: 40px;
}

.secondary_heading {
  font-size: 36px;
}

.p_font_size {
  font-size: 18px;
  margin-left: 98px;
  margin-right: 98px;
}

.main_p {
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.link_mail {
  color: #31a4ae;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.2s;
  transition-property: opacity;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button a {
  padding: 15px;
}

.image {
  max-width: 100%;
  height: auto;
}

.project_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

header {
  background-color: white;
  padding: 8px;
  margin: 0px;
}

/* Layout styling */

.container {
  padding: 16px;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.row {
  margin: 48px 0; /* 25px top and bottom, 0 left and right */
  display: flex;
}
.logo {
  max-width: 150px;
}
header {
  background-color: white;
  text-align: center;
  padding: 0px 0px;
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 20, 0, 0.12);
  -moz-box-shadow: 0px 4px 9px 0px rgba(0, 20, 0, 0.12);
  box-shadow: 0px 4px 9px 0px rgba(0, 20, 0, 0.12);
  position: fixed;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #31a4ae;
}
#hero_section {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 164px;
}

.about_image {
  margin: 16px;
  max-width: 100%;
  height: auto;
}

.skills_heading {
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 88px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex_items {
  text-align: left;
  margin-bottom: 200px;
}

.padd {
  margin-right: 88px;
}

.list_heading {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.icons {
  margin: 32px;
}

.btn {
  font-size: 17px;
  width: 50%;
}

path.st6,
circle.st6 {
  animation: 4s color-change infinite alternate linear;
}

.cloud {
  animation: 15s moving-clouds infinite alternate-reverse linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
/* TO GLEDAJ */
@media only screen and (min-width: 320px) and (max-width: 650px) {
  .main_heading {
    font-size: 48px;
  }

  .p_font_size {
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    margin-bottom: 0;
  }

  .main_p {
    margin-top: 38px;
  }

  .site_heading {
    margin-top: 0;
  }

  .main_span {
    font-size: 28px;
  }

  .txt_weight {
    font-weight: 500;
    padding-left: 10px;
  }

  .about_image {
    margin-left: 0;
  }

  .about_media {
    text-align: left;
    padding-left: 16px;
  }

  .flex {
    display: block;
  }

  #hero_section {
    padding: 0;
  }

  .flex_items {
    margin: 0;
    padding: 0;
  }

  .about_contact {
    margin-top: 88px;
  }

  .skills_heading {
    margin-bottom: 48px;
    text-align: left;
    padding-left: 40px;
  }
  .list_heading {
    margin-top: 40px;
  }

  .nav {
    display: block;
  }

  .btn {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 8px;
  }
}

@media only screen and (max-width: 650px) {
  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: -70px;
    font-size: 20px;
  }

  .navtoggle,
  .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    font-size: 20px;
  }

  .navtoggle.responsive li {
    display: inline-block;
  }

  .navtoggle.responsive nav {
    height: 50px;
  }
  .navtoggle.responsive li {
    display: inline-block;
    padding: 10px 0;
  }

  .navtoggle.responsive li:last-child {
    padding: 0 0 10px;
  }
}

@media only screen and (min-width: 651px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .logo {
    max-width: 250px;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .row {
    display: block;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

.btn {
  margin-top: 20px;
}

.txt_weight {
  font-weight: 500;
}

.p_font_size.about_media {
  margin-bottom: 48px;
  margin-right: 50px;
}

@keyframes color-change {
  0% {
    opacity: 40%;
  }
  20% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 40%;
  }
}

@keyframes moving-clouds {
  from {
    transform: translateX(100px);
  }
  17% {
    transform: translateX(120px);
  }
  20% {
    transform: translateX(150px);
  }

  40% {
    transform: translateX(120px);
  }

  60% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(100px);
  }
}
